body{
    background: #eed1ae;
background: radial-gradient(circle, rgba(238, 209, 174, 1) 0%, rgba(231, 232, 178, 1) 0%, rgba(202, 182, 229, 1) 0%, rgba(17, 255, 0, 1) 24%, rgba(148, 187, 233, 1) 100%);
    color: rgb(255, 0, 149);
}
#head{
    background: #11d1b4;
background: linear-gradient(90deg, rgba(17, 209, 180, 1) 0%, rgba(227, 202, 14, 1) 7%, rgba(135, 23, 45, 1) 12%, rgba(227, 202, 14, 1) 13%, rgba(37, 122, 219, 1) 19%, rgba(87, 199, 133, 1) 26%, rgba(83, 91, 237, 1) 38%, rgba(237, 83, 222, 1) 47%, rgba(237, 83, 101, 1) 54%, rgba(237, 83, 101, 1) 62%);
background-clip: text;
color: transparent;
}
form{
    width: 50%;
}
fieldset{
    border: 3px dotted rgb(56, 10, 116);
    border-radius: 10px;
}
legend{
    font-family: monospace;
    color: rgb(220, 20, 207);
    font-size: 20px;
}
input[required]{
    border:3px solid rgb(212, 255, 0);
}
input:optional{
    border:3px solid rgb(255, 0, 13);
}
input:read-only{
    background-color: pink;
}
select{
    background-color: darkmagenta;
    border-radius: 6px;
    cursor: pointer;
}
input[type="radio"]:checked{
    height: 20px;
    width: 20px;
    cursor: pointer;
    
}
input[type="radio"]:checked+label{
    color: rgb(212, 255, 20);
    cursor: pointer;
    
}
input[type="submit"]{
    background-color: darkgreen;
    border-radius: 5px;
}
input[type="reset"]{
    background-color:chocolate;
    border-radius: 5px;
}
input:focus{
    background-color: #cc99ff;

}
input[type="text"]+span{
    display: none;
}
input[type="text"]:hover+span{
    display: inline;
   
}
input[type="tel"]+span{
    display: none;
}
input[type="tel"]:hover+span{
    display: inline;
}
input[type="email"]~span{
    display: none;
}
input[type="email"]:hover~span{
    display: inline;
}
input[type="password"]+span{
    display: none;
}
input[type="password"]:hover+span{
    display: inline;
}
img{
    display: none;
}
input[type="email"]:focus:valid~img#valid{
  display: inline;
  height: 20px;
  width: 20px;
}
input[type="email"]:focus:invalid~img#invalid{
  display: inline;
  height: 20px;
  width: 20px;
}

